/* 編輯器 active 的分頁背景爲白色 */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #ffffff;
}

/* conf for sindresorhus/github-markdown-css */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  letter-spacing: 1px;
}

.markdown-body p {
  line-height: 2rem;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* 設定 inline code 是深灰色背景，白色字 */
.markdown-body code {
  background-color: #272822;
  color: #ffffff;
}
/* 設定未指定語言的 block code 是深灰色背景，白色字 */
.markdown-body pre {
    background-color: #272822;
    border-radius: .3em;
}

/******** 目錄設定 ********/

/* 目錄內的所有 ul */
.toc ul {
  /* 不要顯示清單樣式（圓點） */
  list-style-type: none;
  /* 預設的 padding 太寬了，縮爲一半 */
  padding-left: 20px;
}

/* 目錄內的第一層 ul */
.toc > ul {
  /* 左邊的灰色分隔線 */
  border-left: 2px solid #ccc;

  /* 和左邊內容區塊隔一點距離 */
  margin-left: 1em;

  /* 如果設定 sticky 在 .toc 這種區塊元素，似乎會失效，所以設定在 .toc > ul */
  position: sticky;
  top: 10px;

  /* 爲使 overflow 有效，區塊容器要有 height 或 max-height */
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.toc a {
  /* 顏色只能套用在 inline 元素，例如 <a> */
  color: #99979c;
}
.toc a:hover {
  color: #007bff;
}

/* Search or jump to 在 navbar 上方 */
#search-jump-to {
  position: absolute;
  top: 0;
  left: 100px;
  z-index:100;
}

/* 設定高度固定 300px，工具列才會固定在可見範圍 */
.CodeMirror-scroll {
  height: 300px;
}
